@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Layton Utah Temple</h1>
</div>

<img src="https://churchofjesuschristtemples.org/assets/img/temples/layton-utah-temple/layton-utah-temple-6932-main.jpg" alt="Layton Temple" />
<br /><br />
<!--Basic info about tour-->
<p>The Layton Temple Tour: it is so incredible</p>
<br />
<br />
<a asp-action="SignUp"><button>Sign Up</button></a>

